{% extends 'base.html.twig' %}

{% block title %}Acceuil - STD{% endblock %}

{% block body %}
    <section class="hero-banner magic-ball">
        <div class="container">

            <div class="row align-items-center text-center text-md-left">
                <div class="col-md-6 col-lg-5 mb-5 mb-md-0">
                    <h1>We Are Creative Nerds</h1>
                    <p>Services to dar est une application web et mobile créer pour faciliter l'accès aux services de déménageurs et des artisans qu'on a besoin dans notre vie quotidienne et nos événements à travers une méthode moderne qui consiste à créer un réseau social professionnel reliant tous les prestataires de secteur de services et les clients par  une plateforme en ligne . </p>

                </div>
                <div class="col-md-6 col-lg-7 col-xl-6 offset-xl-1">
                    <img class="img-fluid centerimg image" src="{{ asset('img/pic.png')}}" alt="">
                </div>
            </div>
        </div>
    </section>
{% endblock %}
